/* reset */
*  {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* document */
body {
	font-size: 1rem;
	font-family: "URW Gothic L", "Helvetica", "Arial", sans-serif;
	margin: 3rem;
	counter-reset: h3;
}

#body-header, #body-footer {
	/*width: 100%; */
	background: #0060A0;
	color: white;
}

#body-header{
	padding: 0.5em;
	display: flex;
	height: 5rem;
}

#body-footer{

}

/* images */
#body-header > a > img{
	height: 100px;
	width: 100px;
}


/* text */
h1{
	padding: 0.5rem 0 0 0.5rem;
	font-size: 3rem;
}

h2{

	margin: 2rem 0 0 1rem;
	font-size: 2em;
}

h3:before{
	counter-increment: h3;
	content: counter(h3) " ";
}

h3{
	margin: 1rem 0 0.5rem 0; 
	font-size: 1.5em;
	border-bottom: solid black thin;
}

h4{
	font-size: 1rem;
	margin: 0.5rem 0 0.5rem 0;
}

small{
	font-size: 0.8em;
}

article{
	margin-left: 1em;
}

article footer {
	font-style: italic;
	border-style: dotted;
	margin: 1em 0em;
	width: 100%;
}
article footer time {
	float: right;
}

figcaption {
	padding: .5em 0em;
	color: grey;
	font-size: 0.8em;
}

figcaption a{
	color: black;
}

body > footer {
	color: white;
	background-color: #0060A0;
	padding: 0.5em 0.5em;
	font-weight: initial;
}

body > footer address {
	line-height: 1.7em;
}

body > footer a{
	color: inherit;
	font-style: normal;
}

/* lists */

nav > ul {
	border: medium solid #0060A0;
	padding: 0.6em 0.5em;
	margin: 0.5em 0.5em;
	background-color: #F6F6F6;
}

nav li {
	list-style: none;
}

nav li a {
	color: #0060A0;
}

nav li li {
	margin-left: 1em;
}

nav li .flag::before {
	content: '';
	display: inline-block;
	background-position: center;
	height: 13px;
	width: 15px;
	background-size: contain;
}

#flag_it::before{
	background-image: url("../media/flag-it.svg");
}
#flag_fr::before {
	background-image: url("../media/flag-fr.svg");
}
#flag_en::before {
	background-image: url("../media/flag-en.svg");
}

dt {
	font-weight: bold;
	color: #0060A0;
}

dd {
	margin-left: 1em;
}

dd::before {
	
	content: '\002316';
	display: inline;
	padding-right: 0.2em;
}

ol {
	margin: 0.5em 0em;
	list-style-position: inside;
}

/* table */

table {
	line-height: 2em;
	text-align: center;
	border-collapse: collapse;
}

thead th {
	color: white;
	background-color: #0060A0;
	border: solid;
	border-color: black;
	border-width: 0.2rem 0em 0.2rem 0em;
}

tbody th{
	font-weight: bold;
	text-align: left;
	padding-left: 0.5em;
	width: 25em;
}

tbody tr:nth-child(2n){
	background-color: #DBE6EF;
	border: solid;
	border-color: #BDD0E4;
	border-width: 0.1em 0em 0.1em 0em;
}

tbody td {
	width: 10em;
}


/* forms */

#font-size-form {
	float: right;
}
#font-size-form > label, #font-size-form > input, #font-size-form > output {
	display: inline-block;
	vertical-align: middle;
	padding: 0; margin: 0;
}

